.center-content {
  margin: 0 25rem;

  @media only screen and (max-width: $bp-max) {
    margin: 0 20rem;
  }
  @media only screen and (max-width: $bp-hugest) {
    margin: 0 15rem;
  }
  @media only screen and (max-width: $bp-largest) {
    margin: 0 10rem;
  }
  @media only screen and (max-width: $bp-medium) {
    margin: 0 5rem;
  }
}

.btn-link {
  color: $color-green-light;
  transition: border 0.4s;
  border-bottom: 1px solid transparent;
  font-weight: 600;
  font-size: 1.4rem;
  &:hover {
    border-bottom: 1px solid $color-green-light;
  }
}

.btn,
.btn:focus {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-round {
  border-radius: 3.5rem;
  padding: 1.2rem 3.5rem;
  display: inline-block;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-round-wide {
  padding: 1rem 6rem !important;
}

.btn-shadow {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.btn-white {
  background: $color-white;
  color: $color-green;
}

.btn-green {
  background-color: #00d060;
  color: $color-white;
}

// .basic-cta,
// .basic-cta:focus {
//   background-color: #00d060;
//   color: $color-white;
//   display: inline-block;
//   border: none;
//   outline: none;
//   cursor: pointer;
// }

.basic-cta-round {
  border-radius: 1.8rem;
  padding: 1rem 6rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.map-container {
  height: 50rem;
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  color: $color-green;
  text-align: center;
  font-style: italic;

  @media only screen and (max-width: $bp-hugest) {
    border-radius: 15%;
    width: auto;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 2.5rem;
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  @media only screen and (max-width: $bp-smallest) {
    width: 70%;
  }
}

.unset-img {
  width: 100%;
}
.unset-img > span {
  position: unset !important;
}

.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.form {
  &-group {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
  }
  &-label {
    color: $color-grey-3;
    font-size: 1.9rem;
    font-weight: 500;
  }
  &-input,
  &-input:focus {
    border: none;
    outline: none;
    background-color: #f3f3f3;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 500;
    color: #c7c5c5;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
  }
  &-input:focus:invalid {
    border-bottom: 3px solid #ff2b3e;
  }
  &-input::placeholder {
    color: #c7c5c5;
    font-weight: 500;
  }
  &-textarea,
  &-textarea:focus,
  &-textarea:focus-visible {
    border: none;
    outline: none;
    background-color: #f3f3f3;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 500;
    color: #c7c5c5;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
    resize: vertical;
  }
  &-textarea::placeholder {
    color: #c7c5c5;
    font-weight: 500;
  }
  &-textarea:focus:invalid {
    border-bottom: 3px solid #ff2b3e;
  }
  &-dropdown {
    border: none;
    outline: none;
    background-color: #f3f3f3;
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 500;
    color: #c7c5c5;
  }
}

.modal {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 3px;
  color: $color-white;
  padding: 0.3rem 0;
  &-success {
    background-color: $color-green-light-2;
  }
  &-fail {
    background-color: #ed7a17;
  }
}

.swiper-container {
  width: 480px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .swiper-container {
    width: 1000px;
  }
}

@media screen and (min-width: 400px) {
  .swiper-container {
    width: 400px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  margin-top: 5rem;
  list-style: none;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 0.5rem 1rem;

  &__active {
    background-color: $color-green-light;
    color: $color-white !important;
  }
  li {
    cursor: pointer;
    color: $color-grey-2;
    transition: all 0.5s;
    a {
      font-weight: 500;
      font-size: 1.5rem;
      padding: 0 1rem;
    }
    &:not(:last-child) {
      margin-right: 0.2rem;
    }
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
