// BOI
$color-white: #fff;
$color-light: #fdfdfd;
$color-green: #00984f;
$color-green-light: #2ed47b;
$color-green-light-2: #00d060;
$color-document: #fafafa;
$color-grey: #343434;
$color-grey-2: #3e3939;
$color-grey-3: #585858;

// Breakpoints
$bp-max: 112.5em; // 1800px
$bp-hugest: 100em; // 1600px
$bp-huge: 87.5em; // 1400px
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
// 31.25
// #2ED47B
