* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 112.5em) {
    html {
      font-size: 60.5%; } }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 58.5%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 55.5%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 52.5%; } }

body {
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa; }

main {
  flex: 1 0 auto; }

#__next {
  display: flex;
  flex-direction: column;
  height: 100%; }

html,
body {
  height: 100%; }

a,
a:visited {
  text-decoration: none; }

.mapboxgl-popup-close-button {
  right: 0.5rem !important;
  top: 0.2rem !important; }

button {
  font-family: inherit; }

.center-content {
  margin: 0 25rem; }
  @media only screen and (max-width: 112.5em) {
    .center-content {
      margin: 0 20rem; } }
  @media only screen and (max-width: 100em) {
    .center-content {
      margin: 0 15rem; } }
  @media only screen and (max-width: 75em) {
    .center-content {
      margin: 0 10rem; } }
  @media only screen and (max-width: 50em) {
    .center-content {
      margin: 0 5rem; } }

.btn-link {
  color: #2ed47b;
  transition: border 0.4s;
  border-bottom: 1px solid transparent;
  font-weight: 600;
  font-size: 1.4rem; }
  .btn-link:hover {
    border-bottom: 1px solid #2ed47b; }

.btn,
.btn:focus {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600; }

.btn-round {
  border-radius: 3.5rem;
  padding: 1.2rem 3.5rem;
  display: inline-block;
  transition: all 0.2s; }
  .btn-round:hover {
    transform: scale(1.1); }

.btn-round-wide {
  padding: 1rem 6rem !important; }

.btn-shadow {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }

.btn-white {
  background: #fff;
  color: #00984f; }

.btn-green {
  background-color: #00d060;
  color: #fff; }

.basic-cta-round {
  border-radius: 1.8rem;
  padding: 1rem 6rem;
  font-size: 1.4rem;
  font-weight: 600; }

.map-container {
  height: 50rem; }

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  color: #00984f;
  text-align: center;
  font-style: italic; }
  @media only screen and (max-width: 100em) {
    .section-heading {
      border-radius: 15%;
      width: auto; } }
  @media only screen and (max-width: 50em) {
    .section-heading {
      font-size: 2.5rem;
      width: 50%;
      display: block;
      margin: 0 auto; } }
  @media only screen and (max-width: 31.25em) {
    .section-heading {
      width: 70%; } }

.unset-img {
  width: 100%; }

.unset-img > span {
  position: unset !important; }

.custom-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important; }

.form-group {
  display: flex;
  flex-direction: column;
  border-radius: 3px; }

.form-label {
  color: #585858;
  font-size: 1.9rem;
  font-weight: 500; }

.form-input, .form-input:focus {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: 500;
  color: #c7c5c5;
  border-bottom: 3px solid transparent;
  transition: all 0.5s; }

.form-input:focus:invalid {
  border-bottom: 3px solid #ff2b3e; }

.form-input::-moz-placeholder {
  color: #c7c5c5;
  font-weight: 500; }

.form-input:-ms-input-placeholder {
  color: #c7c5c5;
  font-weight: 500; }

.form-input::placeholder {
  color: #c7c5c5;
  font-weight: 500; }

.form-textarea, .form-textarea:focus, .form-textarea:focus-visible {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: 500;
  color: #c7c5c5;
  border-bottom: 3px solid transparent;
  transition: all 0.5s;
  resize: vertical; }

.form-textarea::-moz-placeholder {
  color: #c7c5c5;
  font-weight: 500; }

.form-textarea:-ms-input-placeholder {
  color: #c7c5c5;
  font-weight: 500; }

.form-textarea::placeholder {
  color: #c7c5c5;
  font-weight: 500; }

.form-textarea:focus:invalid {
  border-bottom: 3px solid #ff2b3e; }

.form-dropdown {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: 500;
  color: #c7c5c5; }

.modal {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 3px;
  color: #fff;
  padding: 0.3rem 0; }
  .modal-success {
    background-color: #00d060; }
  .modal-fail {
    background-color: #ed7a17; }

.swiper-container {
  width: 480px; }

.swiper-wrapper {
  display: flex;
  align-items: center; }

@media screen and (min-width: 1000px) {
  .swiper-container {
    width: 1000px; } }

@media screen and (min-width: 400px) {
  .swiper-container {
    width: 400px; } }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 5rem;
  list-style: none;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 0.5rem 1rem; }
  .pagination__active {
    background-color: #2ed47b;
    color: #fff !important; }
  .pagination li {
    cursor: pointer;
    color: #3e3939;
    transition: all 0.5s; }
    .pagination li a {
      font-weight: 500;
      font-size: 1.5rem;
      padding: 0 1rem; }
    .pagination li:not(:last-child) {
      margin-right: 0.2rem; }

.keen-slider {
  align-items: center; }

.nav {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0;
  position: relative;
  margin-bottom: 0.5rem; }
  .nav__additional {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 62.5em) {
      .nav__additional {
        margin-left: auto;
        margin-right: 2rem; } }
  .nav__cart {
    width: 3rem;
    cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .nav__cart {
        width: 2rem; } }
  .nav__count {
    font-weight: 600;
    color: #00984f;
    font-size: 1.3rem; }
  @media only screen and (max-width: 50em) {
    .nav__logo {
      max-width: 15rem; } }
  @media only screen and (max-width: 31.25em) {
    .nav__logo {
      max-width: 10rem; } }
  .nav__mobile {
    opacity: 1 !important;
    visibility: visible !important; }
  .nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 62.5em) {
      .nav__content {
        flex-wrap: wrap;
        justify-content: stretch; } }
  .nav__hamburger {
    display: none;
    width: 4rem;
    cursor: pointer; }
    @media only screen and (max-width: 62.5em) {
      .nav__hamburger {
        display: block; } }
    @media only screen and (max-width: 50em) {
      .nav__hamburger {
        width: 3rem; } }
  @media only screen and (max-width: 62.5em) {
    .nav__li {
      margin-right: 0;
      padding: 0.5rem; }
      .nav__li:not(:first-child) {
        border-top: 1px solid #2ed47b; } }
  .nav__tabs {
    list-style-type: none;
    display: flex;
    align-items: center;
    max-height: auto !important;
    overflow: hidden;
    transition: all 0.5s; }
    @media only screen and (max-width: 62.5em) {
      .nav__tabs {
        position: absolute;
        padding: 2rem 0.5rem;
        left: 0;
        background-color: #fff;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
        top: 100%;
        z-index: 10000;
        box-shadow: 0px 0px 5px #cccccc;
        border-top: 3px solid #2ed47b;
        opacity: 0;
        visibility: hidden; } }
    .nav__tabs li:not(:last-child) {
      margin-right: 1rem; }
    .nav__tabs li a,
    .nav__tabs li a:visited {
      font-weight: bold;
      font-size: 1.6rem;
      color: #00984f; }
    .nav__tabs li:hover ul {
      visibility: visible;
      opacity: 1; }
    @media only screen and (max-width: 62.5em) {
      .nav__tabs li:hover ul {
        position: relative; } }
    .nav__tabs li ul {
      list-style: none;
      background-color: #fdfdfd;
      box-shadow: 0px 0px 5px #cccccc;
      padding: 1rem 2rem;
      border-top: 5px solid #2ed47b;
      height: auto;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: all 0.8s;
      overflow: hidden;
      margin-top: 1rem;
      z-index: 100; }
      @media only screen and (max-width: 62.5em) {
        .nav__tabs li ul {
          opacity: 0;
          visibility: hidden;
          border-top: 1px solid #2ed47b;
          box-shadow: none;
          padding: 1rem 0;
          width: 100%;
          margin-top: 0; } }
      .nav__tabs li ul li {
        border: none; }

.footer {
  background-color: #fdfdfd;
  margin-top: 15rem;
  padding: 3rem 0;
  line-height: 1.1;
  flex-shrink: 0;
  position: relative; }
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer__content img {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 62.5em) {
        .footer__content img {
          max-width: 10rem; } }
    @media only screen and (max-width: 62.5em) {
      .footer__content {
        padding-bottom: 5rem; } }
    .footer__content p {
      font-weight: 600;
      color: #343434;
      font-size: 1.6rem;
      margin-bottom: 0.25rem; }
      @media only screen and (max-width: 31.25em) {
        .footer__content p {
          font-size: 1.4rem; } }
    .footer__content span {
      color: #3e3939;
      font-weight: 600;
      margin-bottom: 1rem;
      font-size: 1.2rem; }
      .footer__content span a {
        color: #3e3939;
        transition: all 0.2s; }
      .footer__content span a:hover {
        color: #00d060; }
  .footer__icons {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer__icons a img {
      width: 2.5rem;
      height: 2.5rem; }
    .footer__icons a:not(:last-child) {
      margin-right: 0.5rem; }
  .footer__sponsored {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    margin-top: 2rem;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .footer__sponsored {
        flex-direction: column;
        align-items: center; } }
    .footer__sponsored img {
      height: 5rem;
      filter: grayscale(100%);
      transition: all 0.4s; }
      .footer__sponsored img:hover {
        filter: none; }
      .footer__sponsored img:not(:last-child) {
        margin-right: 1rem; }
      @media only screen and (max-width: 75em) {
        .footer__sponsored img {
          height: 3.5rem; } }

.spinner__spinner {
  display: block;
  margin: 0 auto;
  padding: 15rem 0; }

.product {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 2rem 0;
  max-width: 30rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
  .product__flags {
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    position: absolute; }
    .product__flags img {
      filter: grayscale(100%);
      height: 3rem;
      transition: all 0.4s; }
      .product__flags img:hover {
        filter: none; }
      .product__flags img:not(:last-child) {
        margin-bottom: -0.5rem; }
  .product__img {
    max-height: 15rem;
    padding: 1rem 0; }
  .product__about {
    padding: 0 1rem;
    display: flex;
    flex-direction: column; }
  .product__content hr {
    border: 1px solid #ededed; }
  .product__content h4 {
    color: #6a6a6a;
    font-size: 1.6rem; }
  .product__benefits {
    color: #808080;
    margin-top: 1.5rem; }
  .product__benefit {
    display: flex;
    font-size: 1rem; }
    .product__benefit p {
      font-weight: 700; }
    @media only screen and (max-width: 87.5em) {
      .product__benefit {
        line-height: 1.3; } }
    .product__benefit img {
      width: 1.3rem;
      height: 1.3rem; }
  .product__cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.2rem 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer; }
  .product__translate {
    transform: translateY(2rem); }
    @media only screen and (max-width: 87.5em) {
      .product__translate {
        transform: translate(0); } }
    @media only screen and (max-width: 37.5em) {
      .product__translate {
        transform: translate(0); } }

.popup {
  max-width: 40rem;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; }
  @media only screen and (max-width: 62.5em) {
    .popup {
      margin: 15% auto; } }
  @media only screen and (max-width: 37.5em) {
    .popup {
      margin: 20% auto;
      max-width: 70%; } }
  @media only screen and (max-width: 37.5em) {
    .popup {
      max-width: 80%; } }
  .popup__img {
    width: 18rem;
    height: 18rem;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 31.25em) {
      .popup__img {
        width: 15rem;
        height: 15rem; } }
  .popup__msg {
    text-align: center;
    line-height: 1.4; }
    .popup__msg h3 {
      font-weight: 600;
      color: #343434;
      font-size: 2rem;
      margin-bottom: 1rem; }
    .popup__msg p {
      font-weight: 600;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: #343434; }
      @media only screen and (max-width: 37.5em) {
        .popup__msg p {
          font-size: 1.3rem; } }
  .popup__cta {
    margin-top: 1rem; }
    .popup__cta-fail {
      background-color: #ed7a17 !important; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.2s; }

.editor {
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; }
  .editor iframe {
    max-width: 80%; }
  .editor__head {
    background-color: #ecf0f1;
    padding: 0.5rem; }
    .editor__head button {
      border: none;
      outline: none;
      background-color: transparent;
      margin-right: 1rem;
      cursor: pointer; }
  .editor__content, .editor__content:focus-visible {
    min-height: 20rem;
    border: 1px solid #ecf0f1;
    border-bottom: 3px solid #ecf0f1;
    border-top: 0;
    padding: 20px;
    outline: none;
    background-color: #f3f3f3;
    font-size: 1.6rem;
    color: #343434;
    transition: all 0.2s; }
    .editor__content h3, .editor__content:focus-visible h3 {
      font-size: 2rem;
      font-weight: bold;
      border-bottom: 1px solid #2ed47b;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding-bottom: 0.2rem; }
  .editor__content * {
    font-size: 1.6rem !important;
    font-family: inherit !important;
    background-color: transparent !important; }

.content-invalid {
  border-bottom: 3px solid #ff2b3e !important; }

.landing {
  background: linear-gradient(103.81deg, rgba(5, 100, 14, 0.5) 0%, rgba(2, 92, 11, 0.16) 100%), url("/Home/naslovna.jpg");
  background-color: #00d26d;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 70rem; }
  @media only screen and (max-width: 75em) {
    .landing {
      max-height: unset; } }
  .landing__content {
    color: #fff;
    display: flex;
    align-items: center;
    max-width: 100vw;
    padding: 3rem 0; }
    .landing__content > * {
      flex: 1; }
    @media only screen and (max-width: 87.5em) {
      .landing__content {
        flex-direction: column;
        align-items: stretch;
        padding: 5rem 0 0 0; } }
  .landing__heading {
    font-weight: 800;
    font-size: 4rem;
    line-height: 49px;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 50em) {
      .landing__heading {
        font-size: 3.5rem;
        line-height: 1.3;
        margin-bottom: 2rem; } }
    .landing__heading span {
      display: block; }
  .landing__desc {
    font-weight: 500;
    font-size: 1.5rem; }
  .landing__products {
    display: grid;
    align-items: stretch;
    justify-items: center;
    justify-content: end;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, minmax(20.6rem, -webkit-max-content));
    grid-template-columns: repeat(2, minmax(20.6rem, max-content));
    grid-template-rows: repeat(2, -webkit-fit-content);
    grid-template-rows: repeat(2, fit-content); }
    @media only screen and (max-width: 87.5em) {
      .landing__products {
        grid-template-columns: repeat(auto-fit, minmax(20.6rem, auto));
        grid-template-rows: auto;
        justify-content: stretch;
        margin-top: 2rem; } }
    @media only screen and (max-width: 75em) {
      .landing__products {
        grid-template-columns: repeat(2, minmax(22rem, auto));
        justify-content: center; } }
    @media only screen and (max-width: 37.5em) {
      .landing__products {
        grid-template-columns: repeat(1, minmax(22rem, auto));
        grid-gap: 0;
        grid-row-gap: 1rem;
        margin: 3rem 0; } }
  .landing__cta {
    font-size: 1.3rem;
    color: #00984f;
    font-weight: bold;
    margin-top: 4rem; }

.about__item {
  background-color: #fdfdfd; }
  .about__item:first-child {
    margin-top: 10rem; }
  .about__item:not(:last-child) {
    margin-bottom: 2.5rem; }
  @media only screen and (max-width: 62.5em) {
    .about__item {
      max-height: auto; } }

.about__cta {
  font-size: 1.3rem;
  color: #00984f;
  font-weight: bold;
  margin-top: 4rem;
  cursor: pointer;
  padding: 1.2rem 4.5rem; }

.about__content {
  display: flex;
  align-items: center;
  padding: 5rem 0; }
  .about__content > * {
    flex: 1; }
  @media only screen and (max-width: 62.5em) {
    .about__content {
      flex-direction: column;
      align-items: stretch; }
      .about__content > * {
        flex: auto; } }

.about__typography h4 {
  font-size: 3rem;
  font-weight: bold;
  color: #00984f;
  margin-bottom: 0.5rem; }
  @media only screen and (max-width: 50em) {
    .about__typography h4 {
      font-size: 2.5rem; } }

@media only screen and (max-width: 62.5em) {
  .about__typography {
    margin-bottom: 2rem; } }

.about__typography p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  max-width: 32vw;
  color: #3e3939; }
  @media only screen and (max-width: 100em) {
    .about__typography p {
      line-height: 1.7rem; } }
  @media only screen and (max-width: 62.5em) {
    .about__typography p {
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content; } }
  @media only screen and (max-width: 50em) {
    .about__typography p {
      font-size: 1.4rem; } }

.about__img {
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 70rem;
  max-height: 25rem; }
  @media only screen and (max-width: 62.5em) {
    .about__img {
      margin-top: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .about__img {
      height: 20rem; } }

.about__item:last-of-type img {
  -o-object-position: bottom;
     object-position: bottom; }

.benefits {
  margin-top: 15rem; }
  .benefits__box {
    background-color: #fff;
    padding: 5rem 0;
    margin-top: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .benefits__box {
        padding: 10rem 0; } }
  @media only screen and (max-width: 62.5em) {
    .benefits__benefits {
      margin-bottom: 3rem; } }
  .benefits__content {
    display: flex;
    align-items: center; }
    .benefits__content > * {
      flex: 1; }
    @media only screen and (max-width: 62.5em) {
      .benefits__content {
        flex-direction: column;
        align-items: stretch; } }
  .benefits__benefit {
    display: flex;
    align-items: flex-start;
    width: 75%; }
    .benefits__benefit:not(:last-child) {
      margin-bottom: 1rem; }
    @media only screen and (max-width: 62.5em) {
      .benefits__benefit {
        width: 100%; } }
    .benefits__benefit p {
      display: inline-block;
      font-weight: 600;
      font-size: 1.5rem;
      margin-left: 1rem;
      line-height: 2rem;
      color: #343434; }
    .benefits__benefit img {
      width: 3rem;
      height: 3rem; }
  .benefits__bar:not(:last-child) {
    margin-bottom: 1rem; }
  .benefits__bar h3 {
    font-size: 1.3rem; }
  .benefits__progress {
    background-color: #ececec;
    width: 100%;
    position: relative;
    border-radius: 2.3rem; }
    .benefits__progress div {
      width: 100%;
      background-color: #2ed47b;
      border-radius: inherit;
      padding: 0.5rem 0; }
      .benefits__progress div span {
        font-weight: 600;
        position: relative;
        display: inline-block;
        color: #fff;
        font-size: 1.8rem;
        padding-left: 70%; }

.find {
  margin-top: 15rem; }
  .find__marker {
    width: 4rem; }
  .find__popup {
    padding: 0.5rem 0.2rem; }
  .find__box {
    background-color: #fdfdfd;
    margin-top: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .find__box > div:first-of-type {
        height: 40rem; } }
  .find__informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem 0; }
    @media only screen and (max-width: 50em) {
      .find__informations {
        flex-direction: column;
        justify-content: center;
        padding: 2rem 0; } }
  .find__info {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .find__info:not(:last-child) {
        margin-bottom: 2rem; } }
    .find__info img {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 1rem; }
    .find__info article {
      line-height: 2rem; }
      .find__info article h3 {
        font-size: 1.6rem;
        font-weight: bold; }
        @media only screen and (max-width: 62.5em) {
          .find__info article h3 {
            font-size: 1.5rem; } }
      .find__info article p {
        font-weight: 500;
        font-size: 1.6rem; }
        @media only screen and (max-width: 62.5em) {
          .find__info article p {
            font-size: 1.5rem; } }
  .find__icons img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem; }

.stores {
  margin-top: 20rem; }
  .stores__box {
    background-color: #fdfdfd; }
  .stores__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
    margin-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .stores__content {
        flex-direction: column;
        justify-content: center; } }
    .stores__content a:hover img {
      filter: grayscale(0%); }
    @media only screen and (max-width: 37.5em) {
      .stores__content a {
        width: 50%; }
        .stores__content a:not(:last-child) {
          margin-bottom: 2rem; } }
    .stores__content a img {
      width: 15rem;
      height: 15rem;
      filter: grayscale(100%);
      transition: filter 0.4s; }
      @media only screen and (max-width: 100em) {
        .stores__content a img {
          width: 13rem;
          height: 13rem; } }
      @media only screen and (max-width: 87.5em) {
        .stores__content a img {
          width: 10rem;
          height: 10rem; } }
      @media only screen and (max-width: 62.5em) {
        .stores__content a img {
          width: 8rem;
          height: 8rem; } }
      @media only screen and (max-width: 50em) {
        .stores__content a img {
          width: 7rem;
          height: 7rem; } }
      @media only screen and (max-width: 37.5em) {
        .stores__content a img {
          width: 100%;
          height: auto; } }

.item__head {
  background-color: #fdfdfd;
  margin-top: 5rem;
  padding: 5rem 0; }
  @media only screen and (max-width: 62.5em) {
    .item__head {
      padding-top: 0; } }

.item__headcontent {
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .item__headcontent {
      align-items: center;
      flex-direction: column; } }

.item__img {
  max-height: 50rem; }

.item__headtypography {
  display: flex;
  flex-direction: column;
  padding-top: 5rem; }
  .item__headtypography h3 {
    color: #2ed47b;
    font-weight: bold;
    font-size: 5rem;
    line-height: 1; }
  .item__headtypography span {
    font-size: 2.5rem; }
  .item__headtypography p {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.3;
    color: #343434;
    margin-top: 3rem; }
    @media only screen and (max-width: 100em) {
      .item__headtypography p {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 75em) {
      .item__headtypography p {
        font-size: 1.5rem; } }
  .item__headtypography a {
    align-self: flex-start;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1rem 6rem;
    border-radius: 1.8rem;
    margin-top: 5rem; }

.item__more {
  background-color: #fdfdfd;
  margin-top: 10rem;
  padding: 5rem 0; }

.item__list h3 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #2ed47b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.2rem;
  color: #3e3939;
  margin-bottom: 1.5rem; }

.item__list p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: #343434; }
  @media only screen and (max-width: 75em) {
    .item__list p {
      font-size: 1.4rem; } }

.item__btns {
  display: flex;
  gap: 1rem; }

.item__article:not(:last-child) {
  margin-bottom: 3rem; }

.item__article h3 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #2ed47b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.2rem;
  color: #3e3939; }

.item__article p {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: #343434; }
  @media only screen and (max-width: 75em) {
    .item__article p {
      font-size: 1.4rem; } }

.team__main {
  margin-top: 5rem;
  background-color: #fdfdfd;
  padding: 5rem 0; }

.team__articleFlex {
  display: flex;
  flex-direction: column; }

.team__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem; }
  @media only screen and (max-width: 87.5em) {
    .team__content {
      grid-template-columns: repeat(auto-fit, minmax(50rem, auto)); } }
  @media only screen and (max-width: 50em) {
    .team__content {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 31.25em) {
    .team__content {
      grid-gap: 8rem; } }

.team__article {
  display: flex;
  gap: 2rem;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .team__article {
      flex-direction: column; } }
  .team__article img {
    border-radius: 50%;
    height: 13rem;
    -o-object-fit: cover;
       object-fit: cover;
    border: 5px solid #2ed47b;
    padding: 2px; }
    @media only screen and (max-width: 100em) {
      .team__article img {
        border-radius: 15%;
        width: auto; } }
    @media only screen and (max-width: 31.25em) {
      .team__article img {
        align-self: flex-start; } }

.team__typography {
  line-height: 1.4; }
  .team__typography h3 {
    font-size: 2rem; }
  .team__typography p {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top: 1rem;
    font-weight: 600;
    color: #5a5a5a; }
  .team__typography span {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 600;
    color: #343434;
    text-transform: uppercase; }

.interviews {
  background-color: #fdfdfd;
  margin-top: 5rem;
  padding: 5rem 0; }
  .interviews__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(35rem, 1fr));
    grid-gap: 4rem; }
    @media only screen and (max-width: 75em) {
      .interviews__content {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 50em) {
      .interviews__content {
        grid-template-columns: 1fr; } }
  .interviews__interview {
    background-color: #fdfdfd;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .interviews__interview img {
      max-height: 15rem;
      width: 100%;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
    .interviews__interview h3 {
      font-size: 1.6rem;
      color: #00d060;
      border-bottom: 1px solid #00d060; }
    .interviews__interview p {
      font-size: 1.2rem;
      font-style: italic;
      line-height: 1.4;
      font-weight: 600;
      color: #3e3939;
      margin-top: 1rem;
      margin-bottom: 1.5rem; }
    .interviews__interview a {
      font-size: 1.2rem;
      font-weight: 600;
      padding: 1rem 4rem;
      border-radius: 1.8rem;
      margin-top: auto; }

.cart {
  background-color: #fdfdfd;
  padding: 5rem 0;
  margin-top: 10rem; }
  .cart__product {
    position: relative;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-column-gap: 15%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 2rem;
    border-radius: 0.5rem; }
    .cart__product:not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .cart__product {
        display: flex;
        flex-direction: column; } }
  .cart__info {
    display: flex;
    gap: 15%; }
    @media only screen and (max-width: 62.5em) {
      .cart__info {
        justify-content: center;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .cart__info {
        flex-direction: column;
        align-items: center; } }
  .cart__empty {
    padding: 20rem 0;
    text-align: center;
    color: #00984f;
    line-height: 1.2; }
    .cart__empty h3 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700; }
    .cart__empty p {
      font-weight: 600;
      font-size: 2rem;
      font-style: italic; }
    .cart__empty button {
      margin-top: 5rem; }
  .cart__item {
    display: flex;
    flex-direction: column;
    padding: 1rem 0; }
    .cart__item h3 {
      color: #2ed47b;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 1.4; }
    .cart__item span {
      color: #b9b9b9;
      font-size: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .cart__item {
        align-items: center; } }
  .cart__img {
    background-color: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: 2rem 5rem;
    display: inline-block;
    display: flex;
    align-items: center; }
    .cart__img img {
      width: 6rem; }
  .cart__quan {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    border-radius: 2rem;
    padding: 0.2rem 5rem;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    margin-top: auto;
    align-self: flex-start; }
    @media only screen and (max-width: 37.5em) {
      .cart__quan {
        align-self: center;
        margin-top: 1rem; } }
    .cart__quan img {
      width: 3rem;
      height: 3rem; }
    .cart__quan span {
      font-size: 2rem;
      font-weight: 500;
      color: #343434; }
  .cart__symbol {
    cursor: pointer; }
  .cart__prices {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 37.5em) {
      .cart__prices {
        gap: 2rem;
        justify-content: center; } }
    @media only screen and (max-width: 21.875em) {
      .cart__prices {
        flex-direction: column; } }
  .cart__price {
    align-self: center;
    color: #343434;
    display: flex;
    flex-direction: column; }
    .cart__price h3 {
      font-size: 2rem;
      font-weight: 500; }
      @media only screen and (max-width: 31.25em) {
        .cart__price h3 {
          font-size: 1.6rem; } }
  .cart__priceTitle {
    font-style: italic; }
  .cart__remove {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #2ed47b;
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer; }
  .cart__bar {
    border-bottom: 2px solid #e8e8e8;
    border-top: 2px solid #e8e8e8;
    list-style-type: none;
    font-weight: 500;
    font-size: 2rem;
    color: #343434;
    margin-bottom: 2rem;
    padding: 0.5rem 0; }
  .cart__form {
    margin-top: 8rem; }
    .cart__form form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 4rem;
      grid-row-gap: 1rem; }
      @media only screen and (max-width: 62.5em) {
        .cart__form form {
          display: flex;
          flex-direction: column; } }
      .cart__form form button {
        grid-column: 1/-1;
        justify-self: start;
        margin-top: 3rem; }
        @media only screen and (max-width: 62.5em) {
          .cart__form form button {
            align-self: flex-start; } }
  .cart__form-warning {
    margin-top: 2rem;
    color: #585858;
    font-size: 1.3rem; }
    .cart__form-warning span {
      color: #ff2b3e; }
  .cart__resume {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem; }
    .cart__resume h3:first-of-type {
      color: #585858;
      font-weight: 500;
      font-size: 2rem; }

#cart__sidebar {
  display: grid;
  grid-template-columns: 40% repeat(2, 1fr);
  gap: 15%; }

.admin {
  background-color: #fdfdfd;
  padding: 5rem 0;
  margin-top: 10rem; }
  .admin__orders {
    margin-top: 10rem; }

.admin-options {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-self: stretch; }

.admin-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem; }

.admin-cta {
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: #ffa325; }

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: #f8f8f8; }

.option {
  margin-right: 5rem; }
  .option__heading {
    color: #343434;
    font-size: 2rem; }
  .option__options {
    list-style: none; }
    .option__options li a {
      color: #585858;
      font-size: 1.4rem; }

.orders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
  grid-gap: 2rem; }
  .orders__head {
    color: #343434;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-style: italic; }

.order {
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column; }
  .order__id {
    font-size: 1.4rem; }
  .order__base {
    margin-bottom: 1rem; }
  .order__status {
    font-weight: 600;
    font-size: 1.2rem;
    color: #747474; }
  .order__success {
    color: #2ed47b; }
  .order__group {
    display: flex;
    flex-direction: column; }
  .order__heading {
    color: #343434;
    font-weight: 600;
    font-size: 1.6rem; }
  .order__body h3 {
    color: #585858;
    font-weight: 600; }
  .order__group:not(:last-child) {
    margin-bottom: 1rem; }
  .order__ctas {
    display: flex;
    gap: 1rem;
    margin-top: 2rem; }
  .order__cta {
    padding: 0.2rem 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer; }
  .order__fail {
    background-color: #ff3939; }
  .order__date {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 600;
    color: #747474; }

.aform {
  max-width: 35%;
  margin: 0 auto;
  padding: 5rem;
  margin-top: 5rem; }
  @media only screen and (max-width: 112.5em) {
    .aform {
      max-width: 50%;
      padding: 10rem 5rem; } }
  @media only screen and (max-width: 62.5em) {
    .aform {
      padding: 10rem 0; } }
  @media only screen and (max-width: 50em) {
    .aform {
      max-width: 60%; } }
  @media only screen and (max-width: 37.5em) {
    .aform {
      max-width: 80%; } }
  .aform__heading {
    width: 100% !important; }
  .aform__form {
    display: flex;
    flex-direction: column; }
    .aform__form button {
      margin-top: 2rem; }

.blog {
  background-color: #fdfdfd;
  margin-top: 5rem; }
  .blog iframe {
    width: 100rem;
    height: 50rem;
    margin: 0 auto;
    display: block; }
    @media only screen and (max-width: 75em) {
      .blog iframe {
        width: 100%;
        height: 30rem; } }
    @media only screen and (max-width: 37.5em) {
      .blog iframe {
        height: 25rem; } }
  .blog__facebook {
    height: 5rem !important;
    width: auto !important;
    margin: 0 !important; }
  .blog__article {
    padding: 5rem 0; }
  .blog__head {
    line-height: 1.2;
    margin-bottom: 5rem; }
    .blog__head h3 {
      font-size: 4rem;
      font-weight: 700;
      color: #3e3939; }
      @media only screen and (max-width: 62.5em) {
        .blog__head h3 {
          font-size: 3rem; } }
    .blog__head span {
      font-size: 2rem;
      font-style: italic;
      font-weight: 600;
      color: #00d060; }
  .blog__img {
    margin-bottom: 2rem; }
    .blog__img img {
      border-radius: 1rem;
      width: 100%;
      height: 50rem;
      -o-object-fit: cover;
         object-fit: cover; }
      @media only screen and (max-width: 62.5em) {
        .blog__img img {
          height: 30rem; } }
      @media only screen and (max-width: 37.5em) {
        .blog__img img {
          height: 20rem; } }
  .blog__content {
    font-size: 1.6rem; }
    .blog__content h3 {
      font-size: 2rem;
      font-weight: bold;
      border-bottom: 1px solid #2ed47b;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding-bottom: 0.2rem;
      color: #3e3939;
      margin-bottom: 1.5rem; }
    .blog__content p {
      font-size: 1.6rem;
      line-height: 1.2;
      font-weight: 600;
      color: #343434; }

.articles {
  background-color: #fdfdfd;
  margin-top: 5rem;
  padding: 5rem 0; }
  .articles__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem; }
    @media only screen and (max-width: 75em) {
      .articles__content {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 37.5em) {
      .articles__content {
        grid-template-columns: 1fr; } }

.article {
  max-width: 100%;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }
  .article__img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%; }
  .article__content {
    padding: 2rem 1rem;
    padding-top: 1rem; }
  .article__details span {
    font-weight: 600;
    font-style: italic;
    font-size: 1.3rem;
    color: #00d060; }
  .article__details h3 {
    color: #5d8357;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem; }

.premium {
  background-color: #fdfdfd;
  margin-top: 5rem;
  padding: 5rem 0; }
  .premium__head div img {
    height: 7rem;
    filter: grayscale(100%);
    transition: filter 0.4s; }
    .premium__head div img:hover {
      filter: none; }
    .premium__head div img:not(:last-child) {
      margin-right: 2rem; }
  .premium__sponsored {
    display: flex; }
    @media only screen and (max-width: 50em) {
      .premium__sponsored {
        flex-direction: column;
        align-items: flex-start; } }
  .premium__about {
    margin-top: 5rem; }
    .premium__about h3 {
      color: #00d060;
      font-size: 2.6rem;
      font-style: italic;
      font-weight: 700; }
    .premium__about p {
      color: #585858;
      font-size: 1.4rem; }
  .premium__brands {
    margin-top: 5rem;
    background-color: #fff; }
  .premium__brands-content {
    display: flex;
    align-items: center;
    justify-content: center; }
  .premium__img-container {
    width: 15rem; }
    .premium__img-container:not(:last-child) {
      margin-right: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .premium__img-container {
        width: 12rem; } }
  .premium__img {
    filter: grayscale(100%);
    transition: filter 0.4s;
    cursor: pointer; }
    .premium__img:hover {
      filter: none; }
  .premium__products {
    margin-top: 5rem; }
  .premium__products-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 112.5em) {
      .premium__products-content {
        grid-template-columns: repeat(auto-fit, minmax(30rem, auto)); } }
    @media only screen and (max-width: 100em) {
      .premium__products-content {
        grid-template-columns: repeat(auto-fit, minmax(25rem, auto)); } }
    @media only screen and (max-width: 87.5em) {
      .premium__products-content {
        grid-template-columns: repeat(auto-fit, minmax(1fr, auto)); } }

.premium-product {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column; }
  .premium-product__flex {
    display: flex;
    flex-direction: column; }
  .premium-product:hover img {
    transform: scale(1.1); }
  .premium-product img {
    align-self: center;
    transition: all 0.2s; }
    @media only screen and (max-width: 112.5em) {
      .premium-product img {
        height: 20rem; } }
    @media only screen and (max-width: 100em) {
      .premium-product img {
        height: 15rem; } }
  .premium-product__content h3 {
    color: #6a6a6a;
    font-weight: 700;
    font-size: 1.4rem; }
  .premium-product__content h4 {
    font-weight: 600;
    font-style: italic;
    color: #aeaeae;
    font-size: 1.4rem; }
  .premium-product__body {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem; }
  .premium-product__cta {
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: #00d060;
    align-self: stretch;
    text-align: center;
    margin-top: 1rem;
    text-transform: none; }
  .premium-product__bottom {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #2ed47b;
    font-weight: 600; }
  .premium-product hr {
    border: 1px solid #ededed; }
