.team {
  &__main {
    margin-top: 5rem;
    background-color: $color-light;
    padding: 5rem 0;
  }

  &__articleFlex {
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(50rem, auto));
    grid-gap: 4rem;
    @media only screen and (max-width: $bp-huge) {
      grid-template-columns: repeat(auto-fit, minmax(50rem, auto));
    }
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-gap: 8rem;
    }
  }
  &__article {
    display: flex;
    gap: 2rem;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
    }
    img {
      border-radius: 50%;
      width: 20%;
      height: 13rem;
      object-fit: cover;
      border: 5px solid $color-green-light;
      padding: 2px;

      @media only screen and (max-width: $bp-hugest) {
        border-radius: 15%;
        width: auto;
      }
      @media only screen and (max-width: $bp-smallest) {
        align-self: flex-start;
      }
    }
  }
  &__typography {
    line-height: 1.4;
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.2;
      margin-top: 1rem;
      font-weight: 600;
      color: #5a5a5a;
    }
    span {
      font-style: italic;
      font-size: 1.2rem;
      font-weight: 600;
      color: $color-grey;
      text-transform: uppercase;
    }
  }
}
