.landing {
  background: linear-gradient(
      103.81deg,
      rgba(5, 100, 14, 0.5) 0%,
      rgba(2, 92, 11, 0.16) 100%
    ),
    url("/Home/naslovna.jpg");
  // background: linear-gradient(
  //     103.81deg,
  //     rgb(5 100 79 / 62%) 0%,
  //     rgb(2 92 11 / 75%) 100%
  //   ),
  //   url(/Home/naslovna.jpg);
  background-color: #00d26d;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 70rem;

  @media only screen and (max-width: $bp-largest) {
    max-height: unset;
  }
  &__content {
    color: $color-white;
    display: flex;
    align-items: center;
    max-width: 100vw;
    padding: 3rem 0;
    > * {
      flex: 1;
    }

    @media only screen and (max-width: $bp-huge) {
      flex-direction: column;
      align-items: stretch;
      padding: 5rem 0 0 0;
    }
    // repeat(auto-fit, minmax(30rem, auto))
  }

  &__heading {
    font-weight: 800;
    font-size: 4rem;
    line-height: 49px;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 3.5rem;
      line-height: 1.3;
      margin-bottom: 2rem;
    }

    span {
      display: block;
    }
  }
  &__desc {
    font-weight: 500;
    font-size: 1.5rem;
  }
  &__products {
    display: grid;
    align-items: stretch;
    justify-items: center;
    justify-content: end;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, minmax(20.6rem, max-content));
    grid-template-rows: repeat(2, fit-content);
    @media only screen and (max-width: $bp-huge) {
      grid-template-columns: repeat(auto-fit, minmax(20.6rem, auto));
      grid-template-rows: auto;
      justify-content: stretch;
      margin-top: 2rem;
    }

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(2, minmax(22rem, auto));
      justify-content: center;
    }
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(1, minmax(22rem, auto));
      grid-gap: 0;
      grid-row-gap: 1rem;
      margin: 3rem 0;
    }
  }

  &__cta {
    font-size: 1.3rem;
    color: $color-green;
    font-weight: bold;
    margin-top: 4rem;
  }
}
